body {
	background-color: #cccccc;
}

#pf-WeatherBox {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 310px;
}

#pf-WeatherBox .well-lg {
	border-radius: 20px;
}

#pf-WeatherBox .drop-shadow {
	-webkit-box-shadow: 10px 10px 5px #999999;
	box-shadow: 10px 10px 5px #999999;
}


#pf-WeatherBox .row-eq-height {
	display:  -webkit-box;
	display: -webkit-flex;
	display:  -ms-flexbox;
	display:         flex;
}

#pf-WeatherBox .pf-TemperatureRow {
	margin-bottom: 15px;
}


#pf-WeatherBox .pf-Widget {
	border: 1px solid #b2b2b2;
	background-color: white;
}

#pf-WeatherBox .pf-CityState {
	font-size: 2.5em;
}

#pf-WeatherBox .pf-Temperature {
	font-size: 6em;
}

#pf-WeatherBox .pf-Icon {
	padding-top: 20px;
}

#pf-WeatherBox .pf-Forecast > div {
	border-right: 1px solid silver;
	padding: 10px 0;
}

#pf-WeatherBox .pf-Forecast > div:last-child {
	border-right: 0;
}


/* DEBUG COLORS *
#pf-WeatherBox {
	background-color: orange;
}


#pf-WeatherBox .pf-CityState {
	background-color: pink;
}

#pf-WeatherBox .pf-Temperature {
	background-color: lavender;
}

#pf-WeatherBox .pf-Icon {
	background-color: palegreen;
}

#pf-WeatherBox .pf-Forecast {
	background-color: lightblue;
}
/**/